body {
    margin: 0;
    padding: 0;
    background: #ffcccc;
}

.search-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #2C3A47;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}

.search-btn {
    color: #FC427B;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2C3A47;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: #fff;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}

.search-box:hover > .search-txt {
    width: 240px;
    padding: 0 6px;
}

.search-box:hover > .search-btn {
    background: white;
}

.fa-search {
    font-size: 18px;
}