* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    background-image: url(img/background.jpeg);
    background-size: cover;
    background-position: center;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.btn {
    text-decoration: none;
    padding: 20px 50px;
    font-size: 1.25rem;
    position: relative;
    margin: 32px;
}

.btn-1 {
    background: #dfe6e9;
    color: #2d3436;
    border-radius: 30px;
    transition: transform 0.3s ease;
}

.btn-1::after, .btn-1::before {
    content: "";
    position: absolute;
    opacity: 0.3;
    background: #dfe6e9;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 0.3s ease;
}

.btn-1:hover {
    transform: translate(-10px, -10px);
}

.btn-1:hover {
    transform: translate(6px, 6px);
}

.btn-1:hover::before {
    transform: translate(10px, 10px);
}

.btn-2 {
    color: #fff;
}

.btn-2::after, .btn-2::before {
    border: 4px solid #A63232;
    border-radius: 5px;
    content: "";
    position: absolute;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 0.3s ease;
}

.btn-2:hover::after {
    transform: translate(-5px, -5px);
}

.btn-2:hover::before {
    transform: translate(5px, 5px);
}

.btn-3 {
    overflow: hidden;
    color: #fff;
    border-radius: 30px;
    box-shadow: 0 0 0 0 rgba(111, 129, 151, 0.5), 0 0 0 0 rgba(232, 96, 49, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn-3::after {
    content: "";
    width: 400px;
    height: 400px;
    position: absolute;
    top: -50px;
    left: -100px;
    background-color: #ff3cac;
    background-image: linear-gradient(255deg, #6F8197 0%, #E86031 50%, #13272E 100%);
    z-index: -1;
    transition: transform 0.5s ease;
}

.btn-3:hover {
    transform: translate(0, -6px);
    box-shadow: 10px -10px 25px 0 rgba(111, 129, 151, 0.5), -10px 10px 25px 0 rgba(232, 96, 49, 0.5);
}

.btn-3:hover::after {
    transform: rotate(150deg);
}